/*
social media icons
*/

#contact i{
font-size: 2rem;

}

body{

}

.cover-container{
    background-image: url('/img/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #2f2828a3;
}